#sidebar {display:none;}
#header {color:black; padding:8px; font-weight:bold; text-decoration:underline;}
#article {color:black; padding:8px;}
#rightcolumn {color:black; padding:8px;}
#footer {display:none;}
#navbar {display:none;}